{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <!-- Block for adding header tags in app-level template files -->
    {% block head %}
    {% endblock %}

    <!-- Document title -->
    <title>SulAroma2021: {{ pageName }}</title>
</head>

<body>

    <!-- Website's navbar -->
    <nav class="sticky-top navbar navbar-expand-lg navbar-dark bg-saSecondary">
        <div class="container-fluid">

            <!-- Clickable SulAroma2021 logo -->
            <a class="navbar-brand" href="{% url 'home:index' %}">
                <img src="{% static 'imgs/logoSulAroma.png' %}" width="100rem" alt="">
            </a>

            <!-- Collapse smaller viewport size button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Links -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home:index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'blog:index' 1 %}">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'schedule:index' %}">Programação</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'contact:index' %}">Palestrantes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Comprar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'admin:index' %}">Admin</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>

    <!-- Block for adding body tags in app-level template files -->
    {% block body %}
    {% endblock %}

    <!-- Bootstrap JS Bundle with Popper -->
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>

</body>

</html>